In [2]:
def HUMAN(names):
    print(f"Humans are called by names like {names}")                      # CALLING THE FUNCTION
HUMAN("Abhiram")

Humans are called by names like Abhiram

In [4]:
def num(num1,num2):
    sub=num1-num2                        # sub,mul,div,modulus with the FUNCTION
    mul=num1*num2
    div=num1/num2                                   
    modulus=num1%num2                              
    print("sub:",sub)
    print("mul:",mul)
    print("div:",div)
    print("modulus:",modulus)
num(3,4)

sub: -1
mul: 12
div: 0.75
modulus: 3

In [5]:
def mul(num):
    result=num * num                               
    return result
mul(7)

49

In [7]:
import math
sqrt=math.sqrt(121)
print("sqrt of 121 is",sqrt)                      
power=pow(2,3)
print("2 to the power 3 is",power)

sqrt of 121 is 11.0
2 to the power 3 is 8

In [8]:
U=lambda K : K * 43
print(U(3))

129

In [9]:
K= lambda M,N : M/N
P= K(1430,100)                                    
print(P)

14.3

In [10]:
def N():
    B="From Addagutta society  to Teks Academy the time taken is nearly 30 to 35 minutes"
    print(B)
N()

From Addagutta society  to Teks Academy the time taken is nearly 30 to 35 minutes

In [11]:
A="Python Programs for Data Science"
def D():
    print("This function is",A)               
D()

This function is Python Programs for Data Science

In [12]:
class person:
    def __init__(self,name,age):
        self.name=name                      # Creating class and object with Function
        self.age=age
P1=person("Abhi",21)
print(P1.name)
print(P1.age)

Abhi
21